body {
    background-color: #3b3b3b;
    text-align: center;
    font-weight: bold;
}

.container {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    margin: 0.5em;
    font-size: 3.5em;
    margin-bottom: 1em;
}

.inputsContainer {
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.inputGroup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 50em;
    height: 3em;
}

#inputsTextField,
#servicesTextField {
    font-size: 1em;
    font-weight: 500;
    padding: 1em;
    max-width: 42em;
    width: 100%;
    border-radius: 0.6em;
    border-style: none;
    height: 100%;
}

#addButton,
#servicesAddButton {
    height: 100%;
    font-weight: bold;
    width: 100%;
    margin-left: 0.3em;
    max-width: 3em;
    border-radius: 0.6em;
    font-size: larger;
}

.sliderContainer {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    max-width: 80vh;
    width: 100%;
    margin: 0 auto;
}

.sliderLabel {
    margin-bottom: 10px;
    align-self: flex-start;
    margin-left: 5px;
    font-size: large;
}

input[type="range"] {
    width: 100%;
}

.rangeLabels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5px;
}

.rangeLabels .minValue,
.rangeLabels .maxValue {
    font-size: large;
    font-weight: bold;
}

#buttonContainer {
    display: flex;
    max-width: 80vh;
    width: 100%;
    margin: 0 auto;
}

#generatePassword {
    width: 100%;
    border-radius: 0.6em;
    height: 3em;
}

.checkboxContainer {
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    max-width: 80vh;
    width: 100%;
    margin: 0 auto;
}

.checkboxGroup {
    align-self: flex-start;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-primary:active {
    background-color: #004085;
    border-color: #003056;
}

#passwords {
    background-color: #2c2c2c;
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
    max-width: 80vh;
    margin: 0 auto;
}

.passwordContainer h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

#tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    margin-bottom: 1em;
    max-width: 80vh;
    margin: 0 auto;
}

#serviceTags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5em;
    margin-bottom: 1em;
    max-width: 80vh;
    margin: 0 auto;
}

#tags span,
#serviceTags span {
    background-color: #007bff;
    color: white;
    padding: 0.5em 1em;
    border-radius: 1em;
    margin: 0.2em;
    font-size: 1em;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#tags span:hover,
#serviceTags span:hover {
    background-color: #0056b3;
}

#tags span:active,
#serviceTags span:active {
    background-color: #004085;
}